@import url("https://fonts.googleapis.com/css?family=Calligraffitti");

body {
  background: linear-gradient(to left, #c2515b, #e1c0b8, #c2515b);
}

#title {
  text-align: center;
  font-family: "Calligraffitti", cursive;
  font-size: 4em;
  text-shadow: 1px 1px 1px #333;
}

img {
  max-width: auto;
  max-height: auto;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
}

#img-caption {
  margin: 20px;
  text-align: center;
  font-family: arial;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 3px solid #c2515b;
}

.about {
  text-align: justify;
  font-family: arial;
}
h2 {
  font-family: "Calligraffitti", cursive;
  font-size: 3em;
  text-align: center;
}

.videos {
  position: absolute;
  left: 30%;
}

#tribute {
  text-align: center;
  font-family: arial;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #da8087;
}

.credit {
  text-align: center;
  font-family: arial;
}
